.colorpick-border{
    height: 150px;
    width: 400px;
    border: 1px solid white;
    color:white;
    margin-top: 500px;
    padding-left: 7.7vw;
    margin-bottom:5px;
}


.sliders{

padding-top: 22px;
    padding-left: 3.2vw;

}

